*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: 'Oswald', sans-serif;
}
.navbar{
display: flex;
align-items: center;
padding: 20px;
}
nav{
flex: 1;
text-align: right;
}
nav ul{
display: inline-block;
list-style-type: none;
}	
.logo-image {
width: 200px; 
}

nav ul li{
display: inline-block;
margin-right: 20px;
}
a{
text-decoration: none;
color: #555;
}
p{
color: #706d6d;
}
.container{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}
.col-2{
flex-basis: 50%;
min-width: 300px
}
.col-2 img{
max-width: 100%;
padding: 50px 0;
}
.col-2 h1{
font-size: 50px;
line-height: 60px;
margin: 25px 0;
}
.btn{
display: inline-block;
background: #45494b;
color: #fff;
padding: 8px 30px;
margin: 30px 0;
border-radius: 30px;
transition: background 0.5s;
}
.btn:hover{
background: #563434;
}
.header{
background: radial-gradient(#fff,#ffffff);
}
.header .row{
margin-top: 70px;
}
.categories{
margin: 70px 0;
}
.col-3{
flex-basis: 30%;
min-width: 250px;
margin-bottom: 30px;
}
.col-3 img{
width: 100%;
}
.small-container{
max-width: 1080px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}

.col-4{
flex-basis: 25%;
padding: 10px;
min-width: 200px;
margin-bottom: 50px;
transition: transform 0.5s;
}
.col-4 img{
width: 100%;
}
.title{
text-align: center;
margin: 0 auto 80px;
position: relative;
color: #0c0c0c;
}
.title::after{
content: '';
background: #212223;
width: 170px;
height: 5px;
border-radius: 5px;
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);	
}
.h4{
color: #565555;
font-weight: normal;
}
.col-4 p{
font-size: 14px;
}
.rating .fa{
color: #ffeb3b;
}
.col-4:hover{
transform: translateY(-5px);
}
.offer{
background: radial-gradient(#fff,#607d8b);
margin-top: 80px;
padding: 30px 0;
}
.col-2 .offer-img{
padding: 50px;
}
small{
color: #555;
}
.testimonial{
padding-top: 100px;
background: #ffffff;
}
.testimonial .col-3{
text-align: center;
padding: 40px 20px;
box-shadow: 0 0 20px 0px rgba(0,0,0,0,1);
cursor: pointer;
transition: transform 0.5s;
}
.testimonial .col-3 img{
width: 50px;
margin-top: 20px;
border-radius: 50%;
}
.testimonial .col-3:hover{
transform: translateY(-10px);
}
.fa.fa-quote-left{
font-size: 34px;
color: #ffeb3b;
}
.col-3 p{
font-size: 12px;
margin: 12px 0;
color: #161616;
}
.testimonial .col-3 h3{
font-weight: 600;
color: #000000;
font-size: 16px;
}
.brands{
margin: 100px auto;
}
.col-2{
width: 160px;
}
.col-2{
width: 100%;
cursor: pointer;
transition: transform 0.5s;
}
.col-2:hover{
transform: translateY(-10px);
}

.footer{
background: #ffffff;
color: #545151;
font-size: 14px;
padding: 60px 0 20px;
}
.footer p{
color: #060606
}
.footer h3{
color: #fff;
margin-bottom: 20px;
}
.footer-col-2, .footer-col-3, .footer-col-4{
min-width: 250px;
margin-bottom: 20px;
}

.footer-col-2{
flex: 1;
text-align: left;
}
.footer-col-2 img{
width: 180px;
}
.footer-col-3, .footer-col-4{
flex-basis: 12%;
text-align: center;
}
ul{
list-style-type: none;
}
.footer hr{
border: none;
background: #b5b5b5;
height: 1px;
margin: 20px 0;
}
.copyright{
text-align: center;
}
.menu-icon{
width: 28px;
margin-left: 20px;
display: none;
}
/*----- all products page ------*/

.row-2{
justify-content: space-between;
margin: 100px auto 50px;
}
select{
border: 1px solid #2192f3;
padding: 5px;
}
select:focus{
outline: none;
}
.page-btn{
margin: 0 auto 80px;
}
.page-btn span{
display: inline-block;
border: 1px solid #2192f3;
margin-left: 10px;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
cursor: pointer;
}
.page-btn span:hover{
background: #2192f3;
color: #fff;
}

/*----- single products deatils ------*/

.single-product{
margin-top: 80px;
}
.single-product .col-2 img{
padding: 0;
}
.single-product .col-2{
padding: 20px;
}
.single-product h4{
margin: 20px 0;
font-size: 22px;
font-weight: bold;
}
.single-product select{
display: block;
padding: 10px;
margin-top: 20px;
}
.single-product input{
width: 50px;
height: 40px;
padding-left: 10px;
font-size: 20px;
margin-right: 10px;
border: 1px solid #2192f3;
}
input:focus{
outline: none;
}
.single-product .fa{
color: #2192f3;
margin-left: 10px;
}
.small-img-row{
display: flex;
justify-content: space-between;
}
.small-img-col{
flex-basis: 24%;
cursor: pointer;
}
/*---------add cart ---------*/

.product-item {
margin: 30px;
}

.product-title {
display: block;
width: 100%;
text-align: center;
font-weight: bold;
font-size: 1.5em;
color: #333;
margin-bottom: 15px;
}

.product-image {
width: 250px;
height: 200px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adjust this to the amount of space you want */
}

.product-price {
flex-grow: 1;
color: #333;
margin-bottom: 10px;
}

.shop-items {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.cart-header {
font-weight: bold;
font-size: 1.25em;
color: #333;
}

.cart-column {
display: flex;
align-items: center;
border-bottom: 1px solid black;
margin-right: 1.5em;
padding-bottom: 10px;
margin-top: 10px;
}

.cart-row {
display: flex;
}

.cart-item {
width: 45%;
}

.cart-price {
width: 20%;
font-size: 1.2em;
color: #333;
}

.cart-quantity {
width: 35%;
}

.cart-item-title {
color: #333;
margin-left: .5em;
font-size: 1.2em;
}

.cart-item-image {
width: 75px;
height: auto;
border-radius: 10px;
}

.btn-danger {
color: white;
background-color: #EB5757;
border: none;
border-radius: .3em;
font-weight: bold;
}

.btn-danger:hover {
background-color: #CC4C4C;
}

.cart-quantity-input {
height: 34px;
width: 50px;
border-radius: 5px;
border: 1px solid #56CCF2;
background-color: #eee;
color: #333;
padding: 0;
text-align: center;
font-size: 1.2em;
margin-right: 25px;
}

.cart-row:last-child {
border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
border: none;
}

.cart-total {
text-align: end;
margin-top: 10px;
margin-right: 10px;
}

.cart-total-title {
font-weight: bold;
font-size: 1.5em;
color: black;
margin-right: 20px;
}

.cart-total-price {
color: #333;
font-size: 1.1em;
}

.btn-purchase {
display: block;
margin: 40px auto 80px auto;
font-size: 1.75em;
}

/*---- media query for menu ----*/
@media only screen and (max-width: 800px){

nav ul {
	position: absolute;
	top: 70px;
	left: 0;
	background: #333;
	width: 100px;
	overflow: hidden;
	transition: max-height= 0.5s;
	
	}
nav ul li{
	display: block;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	}
	nav ul li a {
		color: #fff
	}
	.menu-icon{
		display: block;
		cursor: pointer;
	}
}	
/*----- media query for less than 600px screen size ------*/
@media only screen and (max-width: 600px){
.row{
	text-align: center;
}
.col-2, col-3, col-4{
	flex-basis: 100%;
}
.single-product .row{
	text-align: left;
}
.single-product .col-2{
	padding: 20px 0;
}
.single-product h1{
	font-size: 26px;
	line-height: 22px;
}

}
